body {

    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #565656;
    justify-content: center;

    font-family: arial;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 0;
    margin-right: 0;
}

.container .card {
    margin: 10px;
    position: relative;
    flex: 0 0 calc(33.3333% - 20px);
    /* 33.3333% width with 20px margin between cards */
}

.container .card .face {
    width: 400px;
    height: 200px;
    transition: .4s;
}

.container .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1 {
    transform: translateY(0);
    box-shadow:
        0 0 50px #ffffff,
        -10px 0 80px rgb(255, 255, 255),
        10px 0 80px rgb(40, 0, 239);
}

.container .card .face.face1 .content {
    opacity: .2;
    transition: 0.5s;
    text-align: center;
}

.container .card:hover .face.face1 .content {
    opacity: 1;
}

.container .card .face.face1 .content i {
    font-size: 3em;
    color: white;
    display: inline-block;
}

.container .card .face.face1 .content h3 {
    font-size: 1em;
    color: white;
    text-align: center;
}

.container .card .face.face1 .content a {
    transition: .5s;
}

.container .card .face.face2 {
    position: relative;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2 {
    transform: translateY(0);
}

.container .card .face.face2 .content p,
a {
    font-size: 12pt;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #333;
}

.container .card .face.face2 .content a {
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    outline: 1px dashed #333;
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
}

.container .card .face.face2 .content a:hover {
    background: #333;
    color: whitesmoke;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.container .face.face2 .box .social {
    display: flex;
}

@media (max-width: 767px) {
    .footer .box .social {
        justify-content: center;
    }
}

.container .face.face2 .box .social li {
    margin-right: 10px;
    list-style: none;
    text-decoration: none;
}

.container .face.face2 .box .social li a {
    background-color: #313131;
    color: #b9b9b9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: var(--main-transition);
    text-decoration: none;
}

.container .face.face2 .box .social .facebook:hover {
    background-color: #1877f2;
}

.container .face.face2 .box .social .twitter:hover {
    background-color: #1da1f2;
}

.container .face.face2 .box .social .youtube:hover {
    background-color: #f21d1d;
}